.lockerItem {
    text-decoration: none;
}
p {
    background-color: #7AB2D3;
    padding: 1%;
    margin: 2%;
    border-radius: 25px;
    height: 100px;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: self-start;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: center;
    color: #292F3F;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15), 0 6px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s linear;
}

p:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}